{% extends 'base.html.twig' %}

{% import "Admin/macro/menu-macro.html.twig" as menu %}

{% block title %} Lekcje {% endblock %}

{% block header %}
    {{ menu.menu('lessons') }}
{% endblock %}

{% block body %}
    <div>
        <table>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <table>
            {% for lesson in lessons %}
                <tr id="lesson-{{ lesson.id }}">
                    <td>{{ lesson.subject.name }}</td>
                    <td>{{ lesson.teacher.firstName }} {{ lesson.teacher.lastName }}</td>
                    <td>{{ lesson.lessonType.name }}</td>
                    <td>{{ lesson.dayOfWeek }}</td>
                    <td>{{ lesson.time|date('H:i') }}</td>
                    <td><button class="btn btn--danger" value="{{ lesson.id }}" onclick="deleteLesson(this)">Usuń</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form>
            <select id="subjects">
                <option selected disabled>Wybierz</option>
                {% for subject in subjects %}
                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
            <select id="teachers">
                <option selected disabled>Wybierz</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                {% endfor %}
            </select>
            <select id="types">
                <option selected disabled>Wybierz</option>
                {% for lessonType in lessonTypes %}
                    <option value="{{ lessonType.code }}">{{ lessonType.name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="dayOfWeek">
            <input type="number" name="time">
        </form>
        <button id="create" type="button">Dodaj</button>
    </div>
    <script>

        $('#create').on('click', function (e) {

            var subject = $('#subjects').val();
            var teacher = $('#teachers').val();
            var lessonTypeCode = $('#types').val();
            var dayOfWeek = $('input[name=dayOfWeek]').val();
            var time = $('input[name=time]').val();

            $.ajax({
                url: "{{ path('admin.add.lessons') }}",
                data: {
                    subject: subject,
                    teacher: teacher,
                    lessonTypeCode: lessonTypeCode,
                    dayOfWeek: dayOfWeek,
                    time: time
                },
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                }
            });
        });

        function deleteLesson(button) {
            var id = button.value;
            $.ajax({
                url: "{{ path('admin.delete.lessons') }}",
                data: {
                    id: id
                },
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                }
            });
        }
    </script>
{% endblock %}
