{% extends 'base.html.twig' %}

{% set TEACHER = constant('App\\Entity\\UserType::TEACHER') %}

{% import "Admin/macro/menu-macro.html.twig" as menu %}

{% block title %} Rezerwacje {% endblock %}

{% block header %}
    {{ menu.menu('reservations') }}
{% endblock %}

{% block body %}
    <h1>Filtry</h1>
    <div>
        <select id="students">
            <option selected disabled>Uczeń</option>
            <option value="">-</option>
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }} {{ student.class.number }}{{ student.class.subGroup }}</option>
            {% endfor %}
        </select>
        <select id="statuses">
            <option selected disabled>Status</option>
            <option value="">-</option>
            {% for reservationStatus in reservationStatuses %}
                <option value="{{ reservationStatus.code }}">{{ reservationStatus.name }}</option>
            {% endfor %}
        </select>
        <button id="filter" class="btn btn--default">Filtruj</button>
    </div>
    <div id="reservation-table">
        <table id="reservations">
            <tr>
                <th>Numer</th>
                <th>Uczeń</th>
                <th>Klasa</th>
                <th>Przedmiot</th>
                <th>Status</th>
            </tr>
                {% for reservation in reservations %}
                    <tr id="reservation-{{ reservation.id }}">
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.student.firstName }} {{ reservation.student.lastName }}</td>
                        <td>{{ reservation.student.class.number }}{{ reservation.student.class.subGroup }}</td>
                        <td>{{ reservation.lesson.subject.name }}</td>
                        <td>{{ reservation.reservationStatus.name }}</td>
                        <td>
                            <button class="btn btn--danger" value="{{ reservation.id }}" onclick="deleteReservation(this)">Usuń</button>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    <script>
        $('#filter').on('click', function () {
            var student = $('#students').val();
            var status = $('#statuses').val();

            $('#reservations').remove();
            $.ajax({
                type: "GET",
                url: "{{ path('admin.get.reservations') }}",
                data: {
                    student: student,
                    status: status
                },
                dataType: "json",
                success: function (response) {
                    var data = '';
                    response.forEach(reservation => {
                        data += `
                            <tr>
                                <td>${reservation['id']}</td>
                                <td>${reservation['student']['firstName']} ${reservation['student']['lastName']}</td>
                                <td>${reservation['student']['class']['number']}${reservation['student']['class']['subGroup']}</td>
                                <td>${reservation['lesson']['subject']['name']}</td>
                                <td>${reservation['reservationStatus']['name']}</td>
                                <td>
                                    <button class="btn btn--danger" value="${reservation['id']}" onclick="deleteReservation(this)">Usuń</button>
                                </td>
                            </tr>
                        `
                    })
                    $('#reservation-table').append(
                        `<table id="reservations">
                            <tr>
                            <th>Numer</th>
                            <th>Uczeń</th>
                            <th>Klasa</th>
                            <th>Przedmiot</th>
                            <th>Status</th>
                        </tr>` + 
                            data 
                        + `</table>`
                    );
                }
            });
        });

        function deleteReservation(button) {
            var id = button.value;
            $.ajax({
                url: "{{ path('admin.delete.reservation') }}",
                data: {
                    id: id
                },
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    snackbar(response['message']);
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                }
            });
        }
    </script>
{% endblock %}
