{% extends 'base.html.twig' %}

{% set TEACHER = constant('App\\Entity\\UserType::TEACHER') %}

{% import "Admin/macro/menu-macro.html.twig" as menu %}

{% block title %} Rezerwacje {% endblock %}

{% block header %}
    {{ menu.menu('reservations') }}
{% endblock %}

{% block body %}
    <div>
        <table>
            {% for reservation in reservations %}
                <tr id="reservation-{{ reservation.id }}">
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.student.firstName }} {{ reservation.student.lastName }}</td>
                    <td>{{ reservation.lesson.subject.name }}</td>
                    <td>{{ reservation.reservationStatus.name }}</td>
                    <td><button class="btn btn--danger" value="{{ reservation.id }}" onclick="deleteReservation(this)">Usuń</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function deleteReservation(button) {
            var id = button.value;
            $.ajax({
                url: "{{ path('admin.delete.reservation') }}",
                data: {
                    id: id
                },
                method: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                }
            });
        }
    </script>
{% endblock %}
