{% extends 'base.html.twig' %}

{% set dayOfWeek = ['Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek'] %}
{% set TEACHER = constant('App\\Entity\\UserType::TEACHER') %}
{% set STUDENT = constant('App\\Entity\\UserType::STUDENT') %}

{% block title %}
    {% if app.user.userType.code == STUDENT %}
        Panel ucznia
    {% endif %}
    {% if app.user.userType.code == TEACHER %}
        Panel nauczyciela
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user.userType.code == STUDENT %}
        <h1 class="text-xl font-semibold text-dark-default">
            Cześć {{ app.user.firstName }} {{ app.user.lastName }}!
        </h1>
        <div class="md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2">
            <div class="flex md:flex-row flex-col">
                {% for i in 0..4 %}
                    <div>
                        <div class="border-b dark:border-logi-black text-center text-dark-default font-bold p-2">{{ dayOfWeek[i] }}</div>
                        {% for j in 0..2 %}
                            <div class="border-b dark:border-logi-black text-dark-default p-2 flex flex-row items-center">
                                <span class="{% if i != 0 %} md:hidden block {% endif %} mr-4">{{ j }}</span>
                                <select
                                    id="lessons"
                                    class="w-full border-0 outline-none p-2 bg-transparent text-dark-default"
                                    {% if reservations|length > 0 %}disabled{% endif %}
                                >
                                    <option class="text-dark-default dark:bg-logi-dark" selected disabled>Wybierz</option>
                                    {% for choosableLesson in choosableLessons %}
                                        {% if choosableLesson.dayOfWeek == i and choosableLesson.time == j %}
                                            <option
                                                class="text-dark-default dark:bg-logi-dark"
                                                {% if choosableLesson.studentsCount >= 25 %} 
                                                    disabled 
                                                {% else %} 
                                                    value="{{ choosableLesson.id }}" 
                                                {% endif %}

                                                {% for reservation in reservations %}
                                                    {% if choosableLesson.id == reservation.lesson.id %} selected {% endif %}
                                                {% endfor %}
                                                
                                            >   
                                                {{ choosableLesson.subject.name }} ({{ choosableLesson.studentsCount }})
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <button id="reserve" class="btn btn--sbs dark:btn--sbs-dark md:w-auto w-full mt-2">ZASTOSUJ</button>
        </div>
        <script>
            $('#reserve').on('click', function () {
                var lessons = '';
                $('*#lessons').each(function () {
                    if($(this).val()){
                        lessons += $(this).val() + ",";
                    // } else {
                    //     snackbar('Zarezerwuj wszystkie dostępne godziny');
                    //     return false;
                    }
                });

                lessons = lessons.slice(0, -1);

                $.ajax({
                    type: "GET",
                    url: "{{ path('student.add.reservation') }}",
                    data: {
                        lessons: lessons
                    },
                    dataType: "json",
                    success: function (response) {
                        snackbar(response['message']);
                        $('*#lessons').each(function () {
                            $(this).attr('disabled', true);
                        });
                    }
                });
            });
        </script>
    {% endif %}

    {% if app.user.userType.code == TEACHER %}
        <h1 class=" text-xl font-semibold">
            Witaj {{ app.user.firstName }} {{ app.user.lastName }}!
        </h1>
        <div>
            <select id="lessons">
                <option selected disabled>Lekcja</option>
                {% for lesson in lessons %}
                    <option value="{{ lesson.id }}">{{ lesson.subject.name }} - {{ dayOfWeek[lesson.dayOfWeek] }} - Godzina lekcyjna {{ lesson.time }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="studensList">
        
        </div>
        <button id="check-list" class="btn btn--accept md:w-auto w-full mt-2">Zastosuj</button>
        <script>
            $('#check-list').hide();
            $('#lessons').on('change', function () {
                var lesson = $(this).val();

                $('#students-table').remove();
                $('#check-list').hide();
                $.ajax({
                    type: "GET",
                    url: "{{ path('teacher.get.reservations') }}",
                    data: {
                        lesson: lesson
                    },
                    dataType: "json",
                    success: function (response) {
                        var data = '';
                        response.forEach(reservation => {
                            data += `
                                <tr>
                                    <td>${reservation['student']['firstName']}</td>
                                    <td>${reservation['student']['lastName']}</td>
                                    <td><input type="checkbox" name="presence" value="${reservation['id']}"></td>
                                </tr>
                            `
                        })
                        $('#studensList').append(
                            `<table id="students-table">` + data + `</table>`
                        );
                        $('#check-list').show();
                    }
                });
            });

            $('#check-list').on('click', function () {
                var students = {};
                $('*input[name=presence]').each(function () {
                    students[$(this).val()] = $(this).is(':checked');
                });

                $.ajax({
                    type: "GET",
                    url: "{{ path('teacher.set.status') }}",
                    data: students,
                    dataType: "json",
                    success: function (response) {
                        snackbar(response['message']);
                        $('*input[name=presence]').each(function () {
                            $(this).attr('disabled', true);
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
